.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 360px;
  padding: 24px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}
